nav{
    border-bottom: 2px solid #d4d4d4;
    margin-bottom: 1rem;
}

.navbar-item img{
    max-height: 3rem
}

#logo-title{
    font-size: 2rem;
    padding: 0 1rem;
}

/* subreddit column */

.btn-subreddit{
    min-width: 30%;
    margin: 1%;
}

.button:focus,.button:focus:not(:active){
    box-shadow: 0 0 5px  #ee442b;
    border-color: rgba(238,68,43,0.7)
}

/* preview column */

.panel-content{
    padding: 1rem;
    border: 1px solid #f5f5f5
}

.panel-heading a, .icon {
    color: #ee442b;
    transition: color 250ms
}

.panel-heading a:hover, .icon:hover {
    color: #ad3625
}

.input:focus, .input:active{
    box-shadow: 0 0 5px  #ee442b;
    border-color: rgba(238,68,43,0.7)
}

.level{
    width: 100%
}

.post{
    opacity: 0;
    transition: box-shadow 300ms
}

.post:hover{
    box-shadow: 0px 0px 10px red;
}

.post-rank{
    font-weight: bold;
    text-align: center;
}

.post-upvote{
    margin-right: 1rem
}

.no-shrink{
    flex-shrink: 0;
    width: 100%
}

.comment-edit{
    display: none;
}

.comment-input{
    width: 80%
}

nav.is-mobile.level{
    border-bottom: 0px solid black
}

/* saved-posts-content */
#column-saved-content{
    display: none
}









