<div class="columns">
    <div class="column panel">
        <div class='panel-heading' id='column-subreddit'>
            <div class="field">
                <div class="control">
                    <input class="input" id='search-subreddit' type="text" placeholder="Subreddit">
                </div>
            </div>
        </div>
    </div>

    <div class="column is-three-quarters panel" id="column-preview">
        <p class='panel-heading'><a id='recent-posts'>Posts</a> || <a id='saved-posts'>Saved</a></p>
        <div class='panel-content' id="column-preview-content"></div>
        <div class='panel-content' id="column-saved-content"></div>
    </div>
</div>